<!-- Header -->
<header class="header">
  <div class="container">
    <div class="header-content">
      <a routerLink="/" class="logo">
        <img src="/logo.png" alt="KM House" class="logo-image">
      </a>
      <nav class="main-nav">
        <a routerLink="/" class="nav-link">KM EE</a>
        <a routerLink="/legislation" class="nav-link">Législation</a>
        <a routerLink="/organisation" class="nav-link">Organisation</a>
        <a routerLink="/offres-emploi" class="nav-link">Offres d'emploi</a>
      </nav>
    </div>
  </div>
</header>
